<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Sasquatch Custom Leather</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quattrocento+Sans" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <header>
      <div class="header-top-row">
        <div class="title">
          <h1><a href="">Sasquatch Custom Leather</a></h1>
        </div>
        <div class="search-bar">
          <input type="text" placeholder="Search products..." />
        </div>
      </div>
      <div class="header-nav">
        <nav>
          <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Shop</a></li>
            <li><a href="">Cart</a></li>
            <li><a href="">Checkout</a></li>
            <li><a href="">Contact Us</a></li>
            <li><a href="">Our Values</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      {% block content %}
      <h2>Welcome to Sasquatch Custom Leather</h2>
      <p class="body italic">
        This site is still under construction. Come back later for custom-made
        leather products.
      </p>
      <p>To contact us, please <a href="">click here.</a></p>
      {% endblock%}
    </main>
    <footer>

    </footer>
  </body>
</html>
