{% extends 'store/base.html' %}

{% block content %}
<h2>Your Cart</h2>
{% if products|length > 0 %}
<table class="cart">
  <tr>
    <th>Item</th>
    <th>Price</th>
    <th class="right-align">Quantity</th>
    <th></th>
  </tr>
  {% for product in products %}
  <tr>
    <td>{{ product.name }}</td>
    <td>{{ product.price }}</td>
    <td class="right-align">{{ product.quantity }}</td>
    <td>
      <form method="POST">{% csrf_token %}
        <input type="hidden" name="product_pk" value="{{ product.pk }}"/>
        <button class="remove-item" type="submit">x</button>
      </form>
    </td>
  </tr>
  {% endfor %}
  <tr class="total">
    <td>Total</td>
    <td>{{ total_cost }}</td>
    <td></td>
  </tr>
</table>
<button class="checkout">PROCEED TO CHECKOUT</button>
{% else %}
  <p class="italic">
    Your cart is currently empty.
  </p>
{% endif %}
{% endblock %}
